@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(43, 42, 42);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.attribution {
  font-family: Roboto-Bold;
  color: #fff;
}

#container {
  background-color: #fff;
  display: flex;
  height: 500px;
  width: 55%;
  border-radius: 15px;
  justify-content: space-evenly;
}

.upper{
  margin-top: -85px;
}

/* ---- Left ---- */
.left {
  width: 55%;
}

/* ---- Upper ---- */
.heading {
  font-family: Roboto-Bold;
  font-size: 50px;
  margin-left:15px;
  margin-top: 6.5rem;
}

.intro {
  font-family: Roboto-Regular;
  font-size: 15px;
  padding: 20px 15px;
}

/* ---- Middle ---- */

.middle {
  margin-top: 15px;
}

.point {
  display: flex;
  margin-left: 15px;
}

.point h1 {
  font-family: Roboto-Regular;
  font-size: 15px;
}

.point img {
  margin-right: 12px;
  margin-bottom: 12px;
}

.lower {
  display: flex;
  flex-direction: column;
}

/* ---- Lower ----*/

.lower {
  margin: 30px 15px;
}

.lower label {
  font-family: Roboto-Bold;
  font-size: 13px;
}

#email-error {
  font-family: Roboto-Bold;
  color: rgb(255, 97, 85);
  font-size: 12px;
  margin-left: 1rem;
}

.lower input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin-top: 0.5rem;
}

.lower button {
  font-family: Roboto-Bold;
  border: 1px;
  background-color: black;
  color: white;
  margin-top: 1.2rem;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.lower button:hover {
  background-color: rgb(255, 97, 85);
}

/* ---- Right ---- */
.right {
  width: 37%;
  justify-content: center;
  padding: 20px 0px;
  box-sizing: border-box;
}

.right img {
  max-width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

#mobile-img {
  visibility: hidden;
}

/* ---- Pop Up ---- */

#popup {
  position: absolute;
  margin: 5rem auto;
  background-color: #fff;
  height: 60%;
  width: 29%;
  border-radius: 20px;
  padding: 3rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

/* ---- Pop Up Upper ---- */

.popup-upper {
  margin-bottom: 1.5rem;
}

.popup-upper img {
  height: 2.7rem;
}

/* ---- Pop Up Middle ---- */

.popup-middle h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

/* ---- Pop Up Lower ---- */

.popup-lower {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-lower button {
  padding: 10px 100px 10px 130px;
  border-radius: 5px;
  border: 0px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.popup-lower button:hover {
  background-color: rgb(255, 97, 85);
}

/* ---- Media Query ---- */

@media screen and (min-width: 769px) {
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    #container {
        margin: 0;
        padding: 0p;
        height: 100vh;
        width: 100vw;/* Change from 80% to 100% */
        flex-direction: column-reverse;
    }

    .left {
        height: 70%;
        width: 100%;
        margin-top: -5rem;
        margin-left: -40px; /* Remove width: 100% and adjust margin-left */
    }

    .heading {
        font-size: 44px;
    }

    .intro {
        font-size: 17px;
        width: 100%;
        padding: 0 rem; /* Adjust padding */
    }

    .middle {
        width: 98%;
    }

    .point h1 {
        font-size: 16px;
        padding: 10px;
    }

    .lower {
        width: 100%; /* Change from 80% to 100% */
        margin: 0; /* Remove margin */
    }

    .right {
        margin-top: -40rem;
        width: 100%;
        height: 60%;
    }

    .right img {
        visibility: hidden;
    }

    #mobile-img {
        visibility: visible;
        margin: 0; /* Adjust margin */
        height: 55%;
        width: 100%;
    }
  }
  

  age-calculator-app-main